<html>
    <head>
    <style>
        .main {
            text-align: center;
        }
        .board {
            display: grid;
            width: 50%;
            height: 50%;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(3, 1fr);
            border-style: solid;
            border-width: 1px;
            margin:0 auto;
            border-color: black;
        }
        .board__panel {
            display: block;
            width: 100%;
            border-style: solid;
            border-width: 1px;
            border-color: black;
        }
        .board__panel.player0 {
            background-color: steelblue;
        }
        .board__panel.player1 {
            background-color:lightcoral
        }

    </style>
    </head>
    <body>
        <div class="main">
            {% if game.status == game_status.SETTLEMENT -%}
                <h1>{{ game.winner.name }} WIN!</h1>
            {% elif game.status == game_status.DONE -%}
                <h1>DRAW</h1>
            {% else -%}
                <h1>Your turn: {{ game.get_current_player().name }}</h1>
            {% endif -%}
            <div class="board">
                {% for panel in game.board.panels %}
                    {%- if panel.is_selected or game.is_over -%}
                        <span class="board__panel {{ panel.player.name }}"></span>
                    {%- else -%}
                        <a class="board__panel {{ panel.player.name }}" href="/{{ panel.panel_id }}"></a>
                    {%- endif -%}
                {% endfor %}
            </div>
            <div><a href="/new">new game</a></div>
        </div>
    </body>
</html>
